spring:
  config:
    import: optional:file:.env
  application:
    name: fairplay

  profiles:
    active: local

  servlet:
    multipart:
      max-file-size: 20MB      # 단일 파일 최대 크기
      max-request-size: 100MB  # 전체 요청 최대 크기 (다중 파일 업로드 고려)

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 4
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  hashids:
    salt: ${HASHIDS_SALT}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

# 웹소켓 설정 (배포환경 최적화)
websocket:
  heartbeat:
    client: 25000 # 클라이언트 heartbeat (25초)
    server: 25000 # 서버 heartbeat (25초)
  disconnect-delay: 30000 # 연결 끊김 지연 시간
  message-size-limit: 65536 # 메시지 크기 제한 (64KB)

# 서버 설정
server:
  tomcat:
    connection-timeout: 60s
    keep-alive-timeout: 60s

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-ms: 1800000 # 30분(1,800,000 ms)
  refresh-token-validity-ms: 7200000 # 2시간(7,200,000 ms)
  refresh-token-prefix: "refresh_token:"

# Google Gemini API
gemini:
  api-key: ${GEMINI_API_KEY}

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  redirect-uri: ${KAKAO_REDIRECT_URI}
  client-secret: ${KAKAO_CLIENT_SECRET:}

cloud:
  aws:
    s3:
      bucket-name: ${AWS_S3_BUCKET_NAME} # S3 버킷 이름
    region:
      static: ap-northeast-2 # ← 한국(서울) 리전으로 고정
      auto: false
    stack:
      auto: false # CloudFormation 스택 자동 생성 비활성화
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    cloudfront:
      domain: ${AWS_CLOUDFRONT_DOMAIN}

# 아임포트 설정
iamport:
  api-key: ${IAMPORT_API_KEY}
  secret-key: ${IAMPORT_SECRET_KEY}
  base-url: ${IAMPORT_BASE_URL:https://api.iamport.kr}
llm:
  provider: GEMINI # 이후 OPENAI 로 바꾸면 OpenAI로 전환됨
  bot-user-id: 999    # AI 챗봇의 사용자 ID
  gemini:
    api-key: ${GEMINI_API_KEY:}       # 환경변수 권장
    model: gemini-2.5-flash           # 기본값(경량/저지연)
  openai:
#    api-key: ${OPENAI_API_KEY:}       # 나중에 전환용
#    model: gpt-4o-mini

banner:
  lock:
    default-minutes: 2880 # ←신청 슬롯 기본 락 유지시간 (분)  // BannerApplicationService @Value
    cleanup:
      delay: 300000 #  만료락 해제 주기(밀리초)


# 로깅 설정
logging:
  level:
    com.fairing.fairplay.ai.client.GoogleGeminiClient: DEBUG
    com.fairing.fairplay.ai.rag.service: DEBUG

# QR 티켓 조회 주소
qr:
  url: ${QR_TICKET_REACT_URL}