SPRING_PROFILES_ACTIVE=prod
APP_ENVIRONMENT=prod
APP_BASE_URL=http://192.168.123.103
UPLOAD_PATH=/app/uploads

DB_URL=jdbc:postgresql://host.docker.internal:5432/fairplay
DB_USERNAME=fairplay
DB_PASSWORD=change-me
RAG_PGVECTOR_AUTO_INIT=true

REDIS_HOST=host.docker.internal
REDIS_PORT=6379

JWT_SECRET=change-me
HASHIDS_SALT=change-me
GEMINI_API_KEY=change-me

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=change-me
MAIL_PASSWORD=change-me

KAKAO_CLIENT_ID=change-me
KAKAO_REDIRECT_URI=http://192.168.123.103/api/oauth/kakao/callback
KAKAO_CLIENT_SECRET=

AWS_S3_BUCKET_NAME=
AWS_S3_ENABLED=false
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_CLOUDFRONT_DOMAIN=http://192.168.123.103/uploads

IAMPORT_API_KEY=change-me
IAMPORT_SECRET_KEY=change-me
IAMPORT_BASE_URL=https://api.iamport.kr

QR_TICKET_REACT_URL=http://192.168.123.103

DOCKERHUB_USERNAME=change-me
DOCKERHUB_TOKEN=change-me
